.footer {
  max-width: 144rem - 30rem;
  margin: 0 auto;
  padding: 7.3rem 0 8rem 0;
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 25%;
  }

  @media screen and (max-width:$sun-large) {
    padding: 7.3rem 2rem 8rem 2rem;
  }
  @media screen and (max-width:$sun-tablet) {
    & > * {
      flex: 1 1 50%;

      &:nth-child(n+3){
        margin-top: 3rem;
      }
    }
  }
  @media screen and (max-width:$sun-mobile) {
    padding: 4rem 2rem;
  }
  @media screen and (max-width:$sun-small) {
    flex-direction: column;

    & > * {
      &:nth-child(2){
        margin-top: 3rem;
      }
    }
  }

  &__heading {
    font-family: $fontMotif;
    font-size: 1.2rem;
    letter-spacing: 0.83px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3rem;

    &--emails {
      text-indent: -10000px;
      @media screen and (max-width:$sun-tablet) {
        text-indent: 0px;
      }
    }
  }

  &__subheading {
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: $text50;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__para {
    font-size: 1.3rem;
    line-height: 2.6rem;
    color: $text50;
  }

  &__link {
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-decoration: none;
    font-weight: bold;
    color: $mainMotif;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $text50;
    }
  }
}
