.hero {
  font-size: 1rem;
  background: $darkGrey;
  color: $offWhite;

  &__wrapper {
    max-width: 144rem - 15rem;
    margin: 0 auto;
    min-height: 78rem + $menuOffset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $menuOffset 7.5rem 0;
    @media screen and (max-width: $sun-large) {
      font-size: 0.8rem;
      min-height: 62rem + $menuOffset;
      padding: $menuOffset 10.416666666666667% 0;
    }
    @media screen and (max-width: $sun-tablet) {
      flex-direction: column;
      justify-content: space-around;
      min-height: 52rem + $menuMobileOffset;
      text-align: center;
      padding-top: $menuOffset + 1rem;
    }
  }

  &__content {
    flex: 0 1 45.5rem;
    @media screen and (max-width: $sun-tablet) {
      flex: 0 1 auto;
    }
  }

  &__img {
    @media screen and (max-width: $sun-tablet) {
      margin-top: 4rem;
    }

    img {
      width: 100%;
    }
  }

  &__heading {
    font-size: 7.2em;
    font-family: $fontMotif;
    margin-bottom: 1.5rem;
    @media screen and (max-width: $sun-tablet) {
      font-size: 5.2em;
    }
  }

  &__para {
    font-size: 2em;
    line-height: 3rem;
    color: $offGrey;
    margin-bottom: 3rem;
    @media screen and (max-width: $sun-tablet) {
      display: block;
      max-width: 40rem;
      margin: 3rem auto;
    }
  }
}
