.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: $offWhite;
  box-shadow: $sun-shadow;
  height: $menuOffset;
  transition: height 0.3s ease-in-out;
  @media screen and (max-width: $sun-tablet) {
    height: $menuMobileOffset;
  }

  &--detached {
    height: $menuMobileOffset;
  }

  &__wrapper {
    max-width: 144rem;
    margin: 0 auto;
    height: 100%;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $sun-small) {
      padding: 0 2rem;
    }
  }

  &__brand {
  }

  &__menu {
    font-family: $fontMotif;
    font-size: 1.4rem;
    display: flex;
    @media screen and (max-width: $sun-tablet) {
      font-size: 1.8rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      background: $offWhite;
      top: $menuMobileOffset;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(100%);
      transition: all 0.5s ease-in-out;

      &--opened {
        transform: translateX(0);
      }
    }

    li {
      margin-right: 5rem;
      display: flex;
      align-items: center;
      @media screen and (max-width: $sun-tablet) {
        margin: 2rem 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        position: relative;
        text-decoration: none;
        font-weight: 700;
        color: $mainText;
        @include link-underline(0, -4px, 100%);
      }
    }
  }

  &__hamburger {
    display: none;
    border: 0px;
    background: $mainText;
    text-indent: -10000px;
    height: 5px;
    width: 30px;
    border-radius: 100px;
    position: relative;
    z-index: 200;
    cursor: pointer;
    @media screen and (max-width: $sun-tablet) {
      display: block;
    }

    &:before {
      @include hamburger-bar(-10px, $mainMotif);
    }

    &:after {
      @include hamburger-bar(10px, $mainText);
    }

    &--close {
      background: transparent;

      &:before {
        transform: translateY(10px) rotate(45deg);
        background: $mainText;
      }

      &:after {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}
