.services {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 19rem;
  padding: 0.1px 0;
  @media screen and (max-width:$sun-tablet) {
    font-size: 0.8rem;
    margin-bottom: 10rem;
  }
  @media screen and (max-width:$sun-mobile) {
    margin-bottom: 5rem;
  }

  &__para {
    max-width: 62rem;
    margin: 0 auto;
    min-height: 15rem;
    font-size: 1.8em;
    line-height: 1.8;
    color: $text68;
    @media screen and (max-width: $sun-mobile) {
      min-height: auto;
      padding: 0 2rem;
      margin-bottom: 2rem;
    }
  }

  &__highlights {
    max-width: 144rem - 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:$sun-tablet) {
      padding: 0 2rem;
    }
    @media screen and (max-width: $sun-mobile) {
      display: block;
      max-width: 32rem;
    }
  }
}
