.anim-btn {
    font-family: $fontMotif;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: $offWhite;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding-left: 2.2rem;
    transition: all 0.2s ease-in-out;
    @include link-underline(2.2rem, -4px, calc(100% - 2.2rem));
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1.2rem;
      height: 1.6rem;
      background-image: url("../img/scrollIcon.svg");
      animation: mousejump 2s;
      animation-iteration-count: 3;
    }
  }
  
  @keyframes mousejump {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
    60% {
      transform: translateY(6px);
    }
  }