.btn {
  font-family: $fontMotif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  border: 2px solid $mainMotif;
  border-radius: 100px;
  background: transparent;
  padding: 1.2rem 5.2rem;
  color: $mainText;
  transition: all linear 0.3s;

  &:hover {
    background: $mainMotif;
    color: $offWhite;
  }

  &--secondary {
    background: $mainMotif;
    color: $offWhite;
  }

  &--secondary:hover {
    background: transparent;
  }
}

