.services {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 19rem;
  @media screen and (max-width:$sun-tablet) {
    font-size: 0.8rem;
  }
  @media screen and (max-width:$sun-mobile) {
    margin-bottom: 5rem;
  }

  &__para {
    max-width: 62rem;
    margin: 0 auto;
    min-height: 15rem;
    font-size: 1.8em;
    line-height: 1.8;
    color: $text68;
    @media screen and (max-width: $sun-mobile) {
      min-height: auto;
      padding: 0 2rem;
      margin-bottom: 2rem;
    }
  }

  &__highlights {
    max-width: 144rem - 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:$sun-tablet) {
      padding: 0 2rem;
    }
    @media screen and (max-width: $sun-mobile) {
      display: block;
      max-width: 32rem;
    }
  }
}

.services-box {
  display: flex;
  flex-direction: column;
  min-height: 28.5rem;
  @media screen and (max-width: $sun-mobile) {
    display: block;
    margin-bottom: 2rem;
  }

  &__icon {
    margin-bottom: 2rem;

    &--scrum {
      margin-top: 8px;
    }
  }

  &__title {
    font-family: $fontMotif;
    font-size: 1.8rem;
    line-height: 1.9rem;
    font-weight: 700;
  }

  a.btn {
    margin-top: auto;
    @media screen and (max-width: $sun-mobile) {
      margin-top: 2rem;
    }
  }
}

