.social-menu {
  display: flex;

  &__icon {
    display: block;
    width: 46px;
    height: 46px;
    transition: all 0.3s ease-in-out;

    &:not(:first-child) {
      margin-left: 1.1rem;
    }

    a {
      display: block;
      width: 46px;
      height: 46px;
      background: transparent;
      text-indent: -10000px;
    }

    &--fb {
      background: url("../img/facebook.svg") center no-repeat;

      &:hover {
        background: url("../img/facebookActive.svg") center no-repeat;
      }
    }

    &--tw {
      background: url("../img/twitter.svg") center no-repeat;

      &:hover {
        background: url("../img/twitterActive.svg") center no-repeat;
      }
    }

    &--ln {
      background: url("../img/linkedin.svg") center no-repeat;

      &:hover {
        background: url("../img/linkedinActive.svg") center no-repeat;
      }
    }

    &--in {
      background: url("../img/instagram.svg") center no-repeat;

      &:hover {
        background: url("../img/instagramActive.svg") center no-repeat;
      }
    }
  }
}
