// all in one place just to speed up everything

// colors
$mainText: #232323;
$mainMotif: #FF7211;
$darkGrey: #242424;
$offWhite: #fff;
$offGrey: #C2C2C2;

$text68: #686868;
$text23: #232323;
$text15: #151515;

$fontMotif: "Cabin", sans-serif;
$fontMain: "Roboto", sans-serif;

$menuOffset: 10rem;
$menuMobileOffset: 6rem;

// temp mq variables
$small: 480px;
$mobile: 768px;
$tablet: 1024px;
$large: 1180px;


