// all in one place just to speed up everything

// colors
$mainText: #232323;
$mainMotif: #FF7211;
$darkGrey: #242424;
$offWhite: #fff;
$offGrey: #C2C2C2;
$inputBG: #313131;
$testiBG: #F4F5F6;
$bulletGrey: #DADADA;

$text68: #686868;
$text23: #232323;
$text15: #151515;
$textCD: #CDCDCD;
$text50: #505050;
$text80: #808080;

$fontMotif: "Cabin", sans-serif; //temp replacement for Nexa
$fontMain: "Roboto", sans-serif;

$menuOffset: 10rem;
$menuMobileOffset: 6rem;
$sun-shadow: 0 16px 26px 0 rgba(0, 0, 0, 0.08);

// temp mq variables
$sun-small: 480px;
$sun-mobile: 768px;
$sun-tablet: 1000px;
$sun-large: 1200px;


