@import "reset";
@import "constants";
@import "mixins";
@import "typography";

@import "components/headings";
@import "components/carousel-box";
@import "components/author-box";
@import "components/highlight-box";
@import "components/anim-btn";
@import "components/social-menu";
@import "components/btn";

@import "sections/navbar";
@import "sections/hero";
@import "sections/services";
@import "sections/testimonials";
@import "sections/contact";
@import "sections/footer";


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $fontMain;
  color: $mainText;
  background: $offWhite;
  text-align: left;
}

// some quick extras
.orange-motif {
  color: $mainMotif;
  font-size: inherit;
  font-family: inherit;
}

a.smooth-scroll:focus {
  outline: none;
}
