@import "reset";
@import "constants";
@import "mixins";
@import "typography";
@import "components/btn";
@import "components/navbar";
@import "components/hero";
@import "components/services";
@import "components/testimonials";
@import "components/contact";


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: $mainText;
  background: $offWhite;
  text-align: left;
}

.container {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
}

.orange-motif {
  color: $mainMotif;
  font-size: inherit;
  font-family: inherit;
}

.section-subheading {
  font-family: $fontMotif;
  font-size: 1.2em;
  color: $text15;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  display: block;
  margin-top: 11rem;
  @media screen and (max-width: 1000px) {
    margin-top: 8rem;
  }

  &--white {
    color: $offWhite;
  }
}

.section-heading {
  font-family: $fontMotif;
  font-size: 3.6em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3.4rem;
}

