@import "reset";
@import "constants";
@import "mixins";
@import "typography";


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: $mainText;
  background: $offWhite;
  text-align: left;
}

